## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Import data

In [2]:
data = pd.read_csv('StudentsPerformance.csv')
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

## No of male and female students

In [3]:
data_gender = data['gender'].value_counts()
print(data_gender)

female    518
male      482
Name: gender, dtype: int64

## Student's parental level of education

In [4]:
data_parental = data['parental level of education'].value_counts()
print(data_parental)

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [5]:
data['Total'] = data['math score'] + data['reading score'] + data['writing score']
data['Avg'] = round((data['Total'] / 3),2)
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,Avg
0,female,group C,some high school,free/reduced,none,0,17,10,27,9.00
1,female,group B,high school,free/reduced,none,8,24,23,55,18.33
2,female,group B,some high school,free/reduced,none,18,32,28,78,26.00
3,female,group B,some college,standard,none,11,38,32,81,27.00
4,female,group C,some college,free/reduced,none,22,39,33,94,31.33

## Most score based on gender

In [6]:
female_avg = data[data['gender'] == 'female'].Total.mean()
male_avg = data[data['gender'] == 'male'].Total.mean()

print(f'The mean of female score in total is {round(female_avg,2)} \nWhile mean of male score in total is {round(male_avg,2)}')

The mean of female score in total is 208.43
While mean of male score in total is 197.81

## Most score based on test prepration course

In [7]:
complete_avg = data[data['test preparation course'] == 'completed'].Total.mean()
none_avg = data[data['test preparation course'] == 'none'].Total.mean()

print(f'The mean score of students who completed the course is {round(complete_avg,2)}')
print(f'The mean score of students who did not completed the course is {round(none_avg,2)}')

The mean score of students who completed the course is 218.83
The mean score of students who did not completed the course is 194.67

## Score variation based on gender

In [8]:
female_des = data[data['gender'] == 'female']['Total'].describe()
female_var = data[data['gender'] == 'female']['Total'].var()
male_des = data[data['gender'] == 'male']['Total'].describe()
male_var = data[data['gender'] == 'male']['Total'].var()

print("The discribriton for female students are")
print(f"Minimum  score in total is {round(female_des['min'],2)} and maximum is {round(female_des['max'],2)}")
print(f"Variance of total score is {round(female_var,2)} and standerd deviation is {round(female_des['std'],2)}")
print('\n')
print("The discribriton for male students are")
print(f"Minimum  score in total is {round(male_des['min'],2)} and maximum is {round(male_des['max'],2)}")
print(f"Variance of total score is {round(female_var,2)} and standerd deviation is {round(male_des['std'],2)}")

The discribriton for female students are
Minimum  score in total is 27.0 and maximum is 300.0
Variance of total score is 1945.76 and standerd deviation is 44.11


The discribriton for male students are
Minimum  score in total is 69.0 and maximum is 300.0
Variance of total score is 1945.76 and standerd deviation is 41.6

## Score variation based on gender

In [9]:
course_des = data[data['test preparation course'] == 'completed']['Total'].describe()
course_var = data[data['test preparation course'] == 'completed']['Total'].var()
none_des = data[data['test preparation course'] == 'none']['Total'].describe()
none_var = data[data['test preparation course'] == 'none']['Total'].var()

print("The description for course completed students are")
print(f"Minimum  score in total is {round(course_des['min'],2)} and maximum is {round(course_des['max'],2)}")
print(f"variance of total score is {round(course_var,2)} and Standerd deviation is {round(course_des['std'],2)}")
print('\n')
print("The description for none course completed students are")
print(f"Minimum  score in total is {round(none_des['min'],2)} and maximum is {round(none_des['max'],2)}")
print(f"Variance of total score is {round(none_var,2)} and Standerd deviation is {round(none_des['std'],2)}")

The description for course completed students are
Minimum  score in total is 103.0 and maximum is 300.0
variance of total score is 1507.75 and Standerd deviation is 38.83


The description for none course completed students are
Minimum  score in total is 27.0 and maximum is 300.0
Variance of total score is 1863.13 and Standerd deviation is 43.16

## Top 25 percentage students based on math score

In [10]:
n_25 = int((len(data) * 25) / 100)

top_25 = data.sort_values(['math score'], ascending= False).head(n_25)
index_top = top_25.index.values.tolist()

print(f'List of index of top 25 percentage students based on math score are \n{index_top}')

List of index of top 25 percentage students based on math score are
[999, 996, 515, 517, 516, 997, 998, 995, 513, 514, 994, 993, 512, 992, 991, 989, 510, 511, 990, 509, 508, 988, 507, 987, 505, 506, 982, 983, 985, 986, 984, 504, 503, 980, 981, 978, 979, 499, 502, 501, 500, 973, 497, 498, 975, 977, 974, 972, 976, 971, 969, 967, 968, 495, 970, 965, 496, 966, 964, 494, 959, 960, 961, 962, 963, 488, 493, 492, 491, 490, 956, 489, 955, 951, 950, 953, 954, 958, 957, 952, 486, 487, 485, 943, 948, 947, 946, 945, 944, 942, 941, 940, 939, 483, 484, 949, 933, 481, 934, 935, 936, 937, 938, 482, 478, 479, 480, 477, 476, 475, 474, 473, 932, 931, 930, 929, 928, 927, 926, 471, 472, 925, 923, 922, 921, 920, 919, 924, 918, 468, 470, 469, 914, 915, 916, 917, 467, 912, 905, 906, 907, 908, 909, 910, 911, 461, 913, 464, 463, 462, 460, 459, 458, 465, 466, 457, 453, 452, 456, 455, 454, 892, 900, 899, 898, 897, 896, 895, 894, 893, 450, 891, 902, 904, 903, 451, 901, 885, 447, 880, 881, 882, 883, 884, 886, 887, 888, 890, 449, 448, 889, 446, 444, 445, 436, 872, 873, 874, 875, 876, 877, 879, 437, 438, 439, 440, 441, 442, 443, 870, 871, 878, 869, 867, 866, 868, 858, 432, 433, 434, 435, 857, 859, 431, 860, 861, 862, 863, 864, 865, 430, 419, 420, 425, 429, 428, 427, 426, 417, 424, 423, 418, 422, 416, 415, 856, 855, 854, 853, 852]